* {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
    Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  margin: 0;
  padding: 0;
}

.background1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)),
    url("../images/chinggis_khan.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 600px;
}
/* body {
  background-image: url("../images/chinggis_khan.jpg");
  background-position: center;
  background-size: cover;
  overflow-y: scroll;
}*/

#navbar {
  height: 30px;
  padding: 10px;
  position: fixed;
  display: inline-block;
  width: 100%;
}

ul {
  list-style-type: none;
  float: right;
  padding: 2px;
}

ul li {
  display: inline-block;
}

ul li a {
  text-decoration: none;
  color: #fff;
  padding: 2px 20px;
  border: 1px solid transparent;
  border-radius: 15px;
  transition: 0.4s ease;
}

ul li a:hover {
  background-color: white;
  color: black;
}

.active a {
  background-color: white;
  color: black;
}

.logo a img {
  float: left;
  width: 60px;
  height: auto;
  margin-top: 0px;
  margin-left: 30px;
}

.background1 h1 {
  text-align: center;
  height: 100%;
  font-size: 150px;
  color: #fff;
  padding-top: 200px;
}

.rekishiText {
  padding: 20px 100px;
  background-color: #fff;
}

.rekishiImages {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
}
